@model IEnumerable<Kundbolaget.Models.EntityModels.OrderProduct>

@{
    ViewBag.Title = "Index";
}

<h2>ProduktOrdrar</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveredAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveredAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
