@model Kundbolaget.Models.ViewModels.OrderUploadVM
@{
    ViewBag.Title = "UploadJson";
}

<h2>UploadJson</h2>

@using (Html.BeginForm("UploadJson", "JsonFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Upload a json file</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p>
                    @Html.TextBoxFor(model => model.File, new { type = "file" })
                </p>
                <p>
                    @Html.ValidationMessageFor(model => model.File)
                </p>
                <p>
                    <input type="submit" value="Ladda upp filen" class="btn btn-default" />
                </p>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>