@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "Kundbolaget-Leverans";
}

<h2>Uppdatera antal accepterade kolli</h2>

<div>
    <h4>Order: @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.AddressString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesiredDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesiredDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().Product.ProductOrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().OrderedAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().DeliveredAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().AcceptedAmount)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.OrderProducts)
                {
                    var str = (Model.OrderStatus < Kundbolaget.Models.EntityModels.OrderStatus.Fakturerar) ? "?" : "";
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductOrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ShortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveredAmount)
                        </td>
                        <td class="alert-success">
                            @Html.DisplayFor(modelItem => item.AcceptedAmount)@Html.Raw(str)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "OrderProducts", new { id = item.Id })" class="btn btn-success">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span> Uppdatera
                            </a>
                            @*@Html.ActionLink("Uppdatera", "Edit", "OrderProducts", new { id = item.Id }, null)*@
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Create", "Invoice", new { id = Model.Id })" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"> </span> Redo för fakturering
    </a>
    <a href="@Url.Action("Index", "Orders")" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> </span> Tillbaka till ordrarna
    </a>
    @*@Html.ActionLink("Redo för fakturering", "ReadyForInvoice", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till ordrarna", "Index")*@
</p>
