@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "Kundbolaget-Följesedel";
}

<h2>Följsedel</h2>

<div>
    <h4>Order: @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.AddressString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesiredDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesiredDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().Product.ProductOrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().OrderedAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProducts.First().DeliveredAmount)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.OrderProducts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductOrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ShortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveredAmount)
                        </td>
                        <td>
                       @*     @Html.ActionLink("Uppdatera", "Edit", "OrderProducts", new { id = item.Id }, null)*@
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Leverans avslutad", "FinalizeDelivery", new { id = Model.Id }) | 
    @Html.ActionLink("Tillbaka till ordrarna", "Index")
</p>
