@model Kundbolaget.Models.EntityModels.Customer

@{
    ViewBag.Title = "Ta Bort Kund";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort denna kund?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporateStucture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporateStucture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysToDelievery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysToDelievery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAuditCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAuditCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
