@model Kundbolaget.Models.EntityModels.Customer

@{
    ViewBag.Title = "Kund Info";
}

<h2>Information</h2>

<div>
    <h4>Kund</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporateStucture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporateStucture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysToDelievery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysToDelievery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAuditCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAuditCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerGroup.Id). @Html.DisplayFor(model => model.CustomerGroup.Name)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @ViewBag.Descriptions[0]
        </th>
        <th>
            @ViewBag.Descriptions[1]
        </th>
        <th>
            @ViewBag.Descriptions[2]
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Addresses)
    {
        <tr>
            <td>
                @item.Address.AddressOrderId
            </td>
            <td>
                @item.Address.AddressString
            </td>
            <td>
                @item.AddressType
            </td>

        </tr>
    }
</table>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
