@model Kundbolaget.Models.EntityModels.PickingOrder

@{
    ViewBag.Title = "Kundbolaget-Plockorder";
}

<h2>Ta bort plockorder</h2>

<h3>Vill du verkligen ta bort detta?</h3>
<div>
    @*<h4>Plockorder</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderProduct.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderProduct.Product.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoragePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoragePlace.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-danger" /> |
            @Html.ActionLink("Tillbaka till plockorder", "Index")
        </div>
    }
</div>
