@model Kundbolaget.Models.EntityModels.PickingOrder

@{
    ViewBag.Title = "Kundbolaget-Plockorder";
}

<h2>Detaljer</h2>

<div>
    <h4>Plockorder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderProduct.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderProduct.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoragePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoragePlace.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uppdatera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till plockorder", "Index")
</p>
