@model IEnumerable<Kundbolaget.Models.EntityModels.PickingOrder>

@{
    ViewBag.Title = "Kundbolaget-Plockorder";
    var searchDate = DateTime.Now.Date;
}

<h2>Plockorder</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm())
{
    <p>
        Sök datum: @Html.TextBox("searchDate", string.Format("{0:dd MMM yyy}", searchDate), new { @class = "DatePicker" })
        <input type="submit" value="Sök" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderProduct.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderProduct.Order.PlannedDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderProduct.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoragePlaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderProduct.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderProduct.Order.PlannedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderProduct.Product.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoragePlaceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
