@model Kundbolaget.Models.EntityModels.Invoice

@{
    ViewBag.Title = "Kundbolaget-Faktura";
}

<h2>Ta bort faktura</h2>

<h3>Vill du verkligen ta bort denna faktura?</h3>
<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> </span> Tillbaka till listan
            </a>
        </div>
    }
</div>
