@model Kundbolaget.Models.EntityModels.Invoice

@{
    ViewBag.Title = "Kundbolaget-Faktura";
}

<h2>Fakturadetaljer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Address.AddressString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Address.AddressString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Order.OrderProducts)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order.OrderProducts.First().Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order.OrderProducts.First().OrderedAmount)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Order.OrderProducts.First().AcceptedAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order.OrderProducts.First().Price)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Order.OrderProducts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcceptedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @if (!Model.Paid)
    {
        <a href="@Url.Action("ChangeToPaid", new { id = Model.Id })" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span> Ändra till betald
        </a>
    }
    <a href="@Url.Action("Index")" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> </span> Tillbaka till listan
    </a>
</p>
