@model Kundbolaget.Models.ViewModels.InvoiceVM

@{
    ViewBag.Title = "Details";
}

<h2>Fakturadetaljer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOverdue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOverdue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductList)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductList.First().ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductList.First().OrderedAmount)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ProductList.First().AcceptedAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductList.First().UnitPrice)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.ProductList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcceptedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @if (!Model.Paid)
    {
        <a href="@Html.DisplayFor(modelItem => item.Price)" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span> Ändra till betald
        </a>
    }
    <a href="@Html.ActionLink("Back to List", "Index")" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> </span> Tillbaka till listan
    </a>
</p>
